<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xa3ti.blackcat.business.dao.AboutusMapper" >
  <resultMap id="BaseResultMap" type="com.xa3ti.blackcat.business.model.Aboutus" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="modify_user" property="modifyUser" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="versionno" property="versionno" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xa3ti.blackcat.business.model.AboutusWithBLOBs" extends="BaseResultMap" >
    <result column="modify_description" property="modifyDescription" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
    <result column="logo" property="logo" jdbcType="LONGVARCHAR" />
    <result column="pics" property="pics" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, create_user, modify_time, modify_user, status, version, tel, versionno
  </sql>
  <sql id="Blob_Column_List" >
    modify_description, content, logo, pics
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.xa3ti.blackcat.business.model.AboutusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_ms_cms_aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xa3ti.blackcat.business.model.AboutusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_ms_cms_aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_ms_cms_aboutus
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_ms_cms_aboutus
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xa3ti.blackcat.business.model.AboutusExample" >
    delete from tb_ms_cms_aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xa3ti.blackcat.business.model.AboutusWithBLOBs" >
    insert into tb_ms_cms_aboutus (id, create_time, create_user, 
      modify_time, modify_user, status, 
      version, tel, versionno, 
      modify_description, content, logo, 
      pics)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=VARCHAR}, #{createUser,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUser,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{versionno,jdbcType=VARCHAR}, 
      #{modifyDescription,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{logo,jdbcType=LONGVARCHAR}, 
      #{pics,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xa3ti.blackcat.business.model.AboutusWithBLOBs" >
    insert into tb_ms_cms_aboutus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="modifyUser != null" >
        modify_user,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="versionno != null" >
        versionno,
      </if>
      <if test="modifyDescription != null" >
        modify_description,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="pics != null" >
        pics,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="versionno != null" >
        #{versionno,jdbcType=VARCHAR},
      </if>
      <if test="modifyDescription != null" >
        #{modifyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=LONGVARCHAR},
      </if>
      <if test="pics != null" >
        #{pics,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xa3ti.blackcat.business.model.AboutusExample" resultType="java.lang.Integer" >
    select count(*) from tb_ms_cms_aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_ms_cms_aboutus
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUser != null" >
        modify_user = #{record.modifyUser,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.versionno != null" >
        versionno = #{record.versionno,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDescription != null" >
        modify_description = #{record.modifyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.pics != null" >
        pics = #{record.pics,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_ms_cms_aboutus
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      modify_user = #{record.modifyUser,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      tel = #{record.tel,jdbcType=VARCHAR},
      versionno = #{record.versionno,jdbcType=VARCHAR},
      modify_description = #{record.modifyDescription,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      logo = #{record.logo,jdbcType=LONGVARCHAR},
      pics = #{record.pics,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_ms_cms_aboutus
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      modify_user = #{record.modifyUser,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      tel = #{record.tel,jdbcType=VARCHAR},
      versionno = #{record.versionno,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xa3ti.blackcat.business.model.AboutusWithBLOBs" >
    update tb_ms_cms_aboutus
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null" >
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="versionno != null" >
        versionno = #{versionno,jdbcType=VARCHAR},
      </if>
      <if test="modifyDescription != null" >
        modify_description = #{modifyDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=LONGVARCHAR},
      </if>
      <if test="pics != null" >
        pics = #{pics,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xa3ti.blackcat.business.model.AboutusWithBLOBs" >
    update tb_ms_cms_aboutus
    set create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      versionno = #{versionno,jdbcType=VARCHAR},
      modify_description = #{modifyDescription,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      logo = #{logo,jdbcType=LONGVARCHAR},
      pics = #{pics,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xa3ti.blackcat.business.model.Aboutus" >
    update tb_ms_cms_aboutus
    set create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      versionno = #{versionno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>