/*间距*/
.ml5{
	margin-left: 5px;
}
.mt10{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}
.ml20{
	margin-left: 20px;
}
.mt40{
	margin-top: 40px;
}
/*宽度*/
.w80{
	width: 80%;
}
.w60{
	width: 60%;
}
.w90{
	width: 95%;
}
/*btn*/
.base_btn{
	height: 38px;line-height: 38px;text-align: center;
	color:#fff;background:#8075E9;font-family: "微软雅黑";
	border:none;
	cursor:pointer;
}
.btn{
	min-width: 88px;_width:88px;height: 33px;
	display:inline-block;*display:inline;*zoom:1;white-space:nowrap;padding:0 10px;
	background:#8075e9;color:#fff;
	border:1px solid #655cb6;
	box-shadow: 1px 1px 0 rgba(255,255,255,0.3) inset;
	-webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.3) inset;
	-moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.3) inset;
	-ms-box-shadow: 1px 1px 0 rgba(255,255,255,0.3) inset;
	-o-box-shadow: 1px 1px 0 rgba(255,255,255,0.3) inset;
	cursor: pointer;
}
a.btn{
	line-height:33px;
}
.btn_s{
	height: 20px;padding:0 10px 0 15px;
	border:1px solid #ccc;
	box-shadow: 1px 1px 3px #ccc;
	background:#fff;
	color:#535353;font-size: 11px;font-family: "微软雅黑";
	cursor:pointer;
	
}
.del{
	background:url(../img/ico.png) no-repeat;
	background-position: -45px -65px;
}
.send{
	background:url(../img/ico.png) no-repeat;
	background-position: -125px -65px;
}
/*ico*/
.user_ico,.password_ico,.user_ico_inf,.user_mang,.content_mang,.page_mang,.game_mang,.media_center,.integral_shop,.int_consult,
.user_center,.int_place,.integral_gift{
	background:url(../img/ico.png) no-repeat;
	position: absolute;
	display: block;
}
.user_ico{
	width: 19px;height: 20px;
	background-position:-10px -10px;
	top: 8px;left: 8px;
}
.password_ico{
	width: 15px;height: 20px;
	background-position:-10px -40px;
	top: 8px;left: 9px;
}
.user_ico_inf{
	width: 16px;height: 18px;
	background-position:-10px -70px;
	top:6px;right:6px;	
}
.user_mang,.content_mang,.page_mang,.game_mang,.media_center,.integral_shop,.int_consult,
.user_center,.int_place,.integral_gift{
	width: 12px;height: 13px;
	left:50px;top:13px;
}
.user_mang{
	background-position: -50px -10px;
}
.content_mang{
	background-position: -80px -10px;
}
.page_mang{
	background-position: -110px -10px;
}
.game_mang{
	background-position: -140px -10px;
}
.media_center{
	background-position: -170px -10px;
}
.integral_shop{
	background-position: -50px -40px;
}
.int_consult{
	background-position: -80px -40px;
}
.user_center{
	background-position: -110px -40px;
}
.int_place{
	background-position: -140px -40px;
}
.integral_gift{
	background-position: -170px -40px;
}

/*login*/
.wrap_login{
	width: 430px;_width:430px;height: 370px;background: #fff;
	position: absolute;top: 50%;left: 50%;margin:-230px 0 0 -230px;
	border-radius: 5px 5px 3px 3px;
	
}
.wrap_login .hd{
	height: 54px;width: 100%;_width:432px;
	background:#8075e9 url(../img/login_logo.png) no-repeat 39px center;
	border-radius: 3px 3px 0 0;
}
.wrap_login .bd{
	padding: 30px;
	position: relative;	
}
.wrap_login .bd label{
	display: block;
	font-size: 16px;
	color: #7d7d7d;
}
.wrap_login .bd input{
	margin-top: 25px;padding-left: 12%;
	width: 88%;height: 36px;line-height: 36px;
	border:1px solid #d2d2d2;
	font-family: "微软雅黑";color: #a7a7a7;
	border-radius: 2px;
}
.wrap_login .bd button{
	margin-top: 70px;
	width: 100%;
}
.wrap_login .bd .bd_user_ico,.wrap_login .bd .bd_pw_ico{
	display: block;
	height: 36px;width: 35px;
	border-right: 1px solid #d2d2d2;
	background:#fafafa;
}
.wrap_login .bd .bd_user_ico{
	position: absolute;top: 77px;left: 31px;
	*top:78px;
	_top:80px;_left:1px;
}
.wrap_login .bd .bd_pw_ico{
	position: absolute;top: 140px;left: 31px;	
	*top:143px;
	_top:145px;_left:1px;
}
@-moz-document url-prefix(){
	.wrap_login .bd .bd_user_ico{
	position: absolute;top: 78px;left: 31px;
	}
}
@-moz-document url-prefix(){
	.wrap_login .bd .bd_pw_ico{
	position: absolute;top: 141px;left: 31px;	
	}
}

/*header*/
.header{
	height: 45px;width: 100%;
	background:#8075e9;
}
.logo img{
	width: 145px;height: 17px;margin: 14px 0 0 26px;
}
.inf{
	padding-right: 50px;
	color:#fff;line-height: 45px;
	position:relative;
}
.triangle_top{
	position: absolute;top: 18px;right: 30px;
	display: block;
	width: 0;height: 0;
	border-color:#fff transparent transparent transparent;
	border-style:solid;
	border-width: 10px 6px 0 6px;
	cursor:pointer;
}
.inf span{
	display: block;position: absolute;top: 8px;right: 150px;
	width: 29px;height: 29px;
	border:1px solid #d2d2d2;background:#fff;
}
.msg{
	width: 80px;height: 80px;
	border:1px solid #D2D2D2;border-radius: 10px;
	background:#fff;
	position: absolute;top: 40px;right:19px;
	display: none;	
}
.msg .item li{
	line-height: 26px;text-align: center;
}
.msg .item li:last-child{
	border-top:1px solid #D2D2D2;
}
.msg .item li a{
	color:#535353;font-size: 12px;text-decoration: none;
	line-height: 0;
}
.msg .item li a:hover{
	text-decoration:underline;
}
.triangle_bottom{
	position: absolute;top: -10px;right: 10px;
	display: block;
	width: 0;height: 0;
	border-color:transparent transparent #fff transparent;
	border-style:solid;
	border-width: 0px 6px 10px 6px;	
}

/*sidebar*/
.sidebar_item{
	height: 1200px;overflow-y:hidden;background:#272930;
	width: 190px;	
}
.sidebar_dl span{
	display: block;
	color: #c9d4f6;
	text-decoration: none;
	font-size: 12px;font-family: "微软雅黑";
}
.sidebar_dl a:hover{
	text-decoration:underline;
}
.sidebar_dl dd.selected_dd{
	background:#545860;
}
.sidebar_dl dd.selected_dd span{
	color:#fff;
}
.sidebar_dl span.selected{
	color:#333;
}
.sidebar_dl dt span:hover{
	text-decoration: none;
}
.sidebar_dl dt{
	height: 38px;line-height: 38px;
	border-top:1px solid #32353e;
	border-bottom:1px solid #1a1c20;
	text-align: center;
	cursor:pointer;
	position: relative;
}
.sidebar_dl dd{
	background:#1a1c20;
	padding:10px 0 10px 50px;
	cursor:pointer;
	display: none;
}
.sidebar_dl:first-child dd{
	
}
.triangle_top2{
	position: absolute;top: 16px;right: 13px;
	display: block;
	width: 0;height: 0;
	border-color:#c9d4f6 transparent transparent transparent;
	border-style:solid;
	border-width: 7px 6px 0 6px;
	cursor:pointer;
}
.triangle_bottom2{
	position: absolute;top: 16px;right: 13px;
	display: block;
	width: 0;height: 0;
	border-color:transparent transparent #c9d4f6 transparent;
	border-style:solid;
	border-width: 0px 6px 7px 6px;
	cursor:pointer;
}
.l-hide{
	width: 10px;height: 87px;margin-top: 20%;
	background: url(../img/side_hide.png) no-repeat 0 0;
	cursor: pointer;
}

/*select_box*/
.select_box{
	color:#535353;font-size: 12px;
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 30px;
}
.title{
	font-size: 26px;
}
.title_sub{
	margin-left: 20px;
	font-size: 19px;
}
.title_author{
	font-size: 12px;
	color:#a0a0a0;
	margin-left: 10px;
}
.select_form p{
	margin-left: 30px;
	margin-top: 20px;
}
.inp_select{
	width: 240px;height: 33px;line-height:33px;
	border-radius:4px;
	border:1px solid #ccc;
	box-shadow: 1px 2px 3px #ccc;
	background:#fff;
	padding-left:5px;
}
.inp_select:focus{
  background:#e6e6e6 !important;
  box-shadow:0 0 2px #ccc inset !important;
}
.inp_select option{
	padding: 10px !important;
	background:#fff !important;
	
	
}
.date { width: 235px;height: 32px;
		border:1px solid #ccc;
		padding-left: 5px; 
		font-family: Arial, Helvetica, sans-serif;
		position: absolute;z-index: 99;top: 0;left: 60px;
		background:transparent;
		box-shadow: 1px 2px 3px #ccc;
		margin-left: 3px;
}
.inp_text { width: 235px;height: 32px;
display: block;float: left;
		border:1px solid #ccc;
		padding-left: 5px; 
		font-family: Arial, Helvetica, sans-serif;
		background:#fff;
		box-shadow: 1px 2px 3px #ccc;
		margin-left: 3px;
}
.data_con{
	position: relative;
	margin-top: 20px;margin-left: 30px;
	height: 32px;line-height: 32px;
	
}
.data_ico{
	position: absolute;right:0px;top:0px;
	background:url(../img/data.jpg) no-repeat;
	width: 34px;height: 34px;
}
.state{
	margin-top: 20px;
	margin-left: 30px;
}
			/*滑块checkbox*/
.checkboxThree {
	width: 54px;
	height: 20px;
	background: #8075e9;
	border-radius: 50px;
	display: inline-block;*display: inline;*zoom: 1;
	position: relative;top: 5px;left: 0px;
}
.checkboxThree:before {
	content: 'on';
	position: absolute;
	top: 0px;
	left: 3px;
	height: 2px;
	color: #f3f48a;
	font-size: 12px;
}
.checkboxThree:after {
	content: 'of';
	position: absolute;
	top: 2px;
	left: 35px;
	height: 2px;
	color: #FFFFFF;
	font-size: 12px;
}
.checkboxThree label {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	z-index: 1;
	left: 2px;
	background: #fff;
}
.checkboxThree input[type=checkbox]:checked + label {
	left: 35px;
	background: #f3f48a;
	
}
.checkboxThree input[type=checkbox]:checked{
	display: none;
}
.checkboxThree input{
	display: none;
}
/*tab_box*/
.tab1{
	width: 100%;margin-top: 20px;
}
.tab1,.tab1 tr td{
	border:1px solid #ccc;
	text-align: center;
 	height:44px;
 	line-height: 25px;
}
.tab1 thead th{
	border:1px solid #ccc;
	background:#8075e9;
	color:#fff;
	border:1px solid #ccc;
	text-align: center;
	line-height: 45px;
}
.tab1 thead th span{
	display: block;float:right;
	position: relative;
}
.triangle_top3{
	position: absolute;top: 25px;right: 13px;
	display: block;
	width: 0;height: 0;
	border-color:#fff transparent transparent transparent;
	border-style:solid;
	border-width: 7px 6px 0 6px;
	cursor:pointer;
}
.triangle_bottom3{
	position: absolute;top: 15px;right: 13px;
	display: block;
	width: 0;height: 0;
	border-color:transparent transparent #fff transparent;
	border-style:solid;
	border-width: 0px 6px 7px 6px;
	cursor:pointer;
}
.send_td,.del_td,.edit_td,.view_td,.dispose_td,.lottery_td,.result_td{
	width: 26px;height: 26px;
	display: block;
	cursor: pointer;
	margin: 0 2px;
}
.send_td{
	background:url(../img/send.jpg) no-repeat;	
}
.edit_td{
	background:url(../img/edit.jpg) no-repeat;	
}
.del_td{
	background: url(../img/del.jpg) no-repeat;
}
.view_td{
	background: url(../img/view_ico.jpg) no-repeat;
}
.dispose_td{
	background: url(../img/dispose_ico.jpg) no-repeat;
}
.lottery_td{
	background: url(../img/lottery_ico.jpg) no-repeat;
}
.result_td{
	background: url(../img/result_ico.jpg) no-repeat;
}
.tab1 td span{
	text-align: center;display:inline-block;*display:inline;*zoom:1;
	vertical-align: middle;
}
.tab1 td img{
	vertical-align: middle;margin: 0 2px;cursor:pointer;
}
/*edit_box*/
.edit_box{
	
}
.edit_inp_text{
	height: 32px;line-height: 32px;padding-left: 10px;
	border: 1px solid #ccc;
	color:#535353;
	border-radius: 2px;
	margin-top: 20px;
}
.edit_inp_textarea{
	font-size: 14px;font-family: "微软雅黑";
	padding: 10px;
	border: 1px solid #ccc;
	color:#535353;
	border-radius: 2px;
	margin-top: 20px;
	height: 70px;line-height: 22px;overflow: auto;
}
.edit_rth{
	border: 1px solid #ccc;
	margin-top: 20px;
}
/*加粗checkbox*/
.checkboxFive {
	position: relative;top: 26px;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 11px;
	height: 11px;
	top: 0;
  	left: 0;
	background: #fff;
	border:1px solid #707070;
}
.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 6px;
	height: 3px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 2px solid #8075E9;
	border-top: none;
	border-right: none;
 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkboxFive label:hover::after {
	opacity: 0.5;
}
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkboxFive input[type=checkbox]:checked {
	display: none;
}
.checkboxFive input[type=checkbox]{
	display: none;
}

