##以下是共通的需要忽略的文件
*.class
*.iml
.settings/
.classpath
.project
.gitignore
.idea/
*.ipr
*.iws
out
###为了以后自己配置gitignore文件
!/.gitignore

/xa-blackcat-parent/.project


/xa-blackcat-parent/xa-blackcat-base/.classpath
/xa-blackcat-parent/xa-blackcat-base/.project
/xa-blackcat-parent/xa-blackcat-base/.settings/

/xa-blackcat-parent/xa-blackcat-bizservice/.classpath
/xa-blackcat-parent/xa-blackcat-bizservice/.project
/xa-blackcat-parent/xa-blackcat-bizservice/.settings/


/xa-blackcat-parent/xa-blackcat-commservice/.classpath
/xa-blackcat-parent/xa-blackcat-commservice/.project
/xa-blackcat-parent/xa-blackcat-commservice/.settings/



/xa-blackcat-parent/xa-blackcat-web/.classpath
/xa-blackcat-parent/xa-blackcat-web/.project
/xa-blackcat-parent/xa-blackcat-web/.settings/


/xa-blackcat-parent/xa-blackcat-base/bin/
/xa-blackcat-parent/xa-blackcat-bizservice/bin/
/xa-blackcat-parent/xa-blackcat-commservice/bin/
/xa-blackcat-parent/xa-blackcat-web/bin/



/xa-blackcat-parent/xa-blackcat-base/target/
/xa-blackcat-parent/xa-blackcat-bizservice/target/
/xa-blackcat-parent/xa-blackcat-commservice/target/
/xa-blackcat-parent/xa-blackcat-web/target/



###-------glsg2-server\dist-------###
## 忽略build出来的文件
/dist
## ------- build出来的README.html --- ##
README.html
*/README.html